.App {
  text-align: center;
  background: url("https://www.ballparksofbaseball.com/wp-content/uploads/2016/04/suntrust17951-2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: rgba(49, 49, 47, 0.6);
  height: 150px;
  padding: 5px;
  color: white;
}

.App-intro {
  font-size: x-large;
  padding: 10px; 
  color: white;
}

.App-intro-div {
  background: rgba(49, 49, 47, 0.6)
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
